.body{
  width: 100vw;
  height: 100vh;
}
.header {
  background-color:aliceblue;
  padding: 10px;
  text-align: center;
  font-size: 24px;
}

.boss {
  display: flex;
  width: 100%;
  height: 100%;

}

nav {
  flex: 0 0 20%;
  

}

.map1 {

  flex: 0 0 80%; 
  margin-left: 20%;

}
.block {
  justify-content: space-between; /* Равное распределение между элементами */

  width: 100px; /* задаем ширину блока */
  height: 100px; /* задаем высоту блока */
  background-color: #000000; /* цвет фона */
  margin: 0 10px; /* расстояние между блоками по горизонтали */
}